h1 {
    text-align: center;
}

#description{
    font-size: 115%;
    padding: 1em;
}

body {
    background-image: url("../img/background-colored-parquet-450066.jpg");
    background-color: rgb(255,255,240);
}

.wrapper {
    border: solid red 1px;
    background-color: rgb(255,255,240);
    margin: 2em;
}

#section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2em;
    line-height: 1.5em;
}
#personal-info> div{
    margin: 1em;
    padding-right: 2em;
}


#workout {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 2em;
    line-height: 1.5em;
}
#workout > div {
    padding: 1em;
}

#whatsports {
    min-height: 5em;
    min-width: 16em;
    text-align: top;
}

.slidecontainer {
    width: 100%;
}

.slider{
    width: 100%;
    opacity: 0.6;
}

.slider:hover {
    opacity: 1;
    color: royalblue;
}

#range-legend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#range-legend >:nth-child(2){
    text-align: center;
}

#range-legend >:last-child{
    text-align: end;
} 
#stories{
    min-width: 20em;
    min-height: 10em;
}

#submit{
    position: relative;
    bottom: 0em;
    opacity: 0.8;
    min-width: 6em;
    min-height: 4em;
    border: antiquewhite solid 1px;
    box-shadow: 4px 2px #888888;
    margin-left: 16em;
}

#submit: hover {
    opacity: 1;
}

@media (min-width: 600px){

#section1{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-areas: 
"name email"
"age gender"
"education field"
}

#name {
    grid-area: name;
}
#email {
    grid-area: email;
}
#number{
    grid-area: age;
}
#gender{
    grid-area: gender;
}
#education{
    grid-area: education;
}
#field{
    grid-area: field;
}

#workout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}


#submit{
    border: red solid 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

}